*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

.app {
	width: 100%;
}

.day {
	position: relative;
	width: 674px;
	height: 600px;
	border: 1px solid #ccc;
}

.day > .number {
	position: absolute;
	top: 5px;
	left: 5px;
}

.month, .week {
    margin: 0 auto;
}

.month {
    width: 896px;
}

.month .week {
    float: left;
    clear: both;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.month .week:last-child {
    border-bottom: 1px solid #ccc;
}

.month .week .day {
    float: left;
    width: 128px;
    height: 96px;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.week {
    width: 898px;
}

.week .week {
    float: left;
    border-left: 1px solid #ccc;
}

.week .day {
    float: left;
    width: 128px;
    height: 600px;
    border-left: none;
}
