*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

.app {
	width: 100%;
}

.day {
	position: relative;
	width: 96px;
	height: 96px;
	border: 1px solid #ccc;
}

.day > .number {
	position: absolute;
	top: 5px;
	left: 5px;
}

.month-view {
    width: 674px;
    margin: 0 auto;
}

.month-view .week {
    float: left;
    clear: both;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.month-view .week:last-child {
    border-bottom: 1px solid #ccc;
}

.month-view .week .day {
    float: left;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
