.app {
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.day {
	position: relative;
	width: 128px;
	height: 128px;
	border: 1px solid #ccc;
}

.day > .number {
	position: absolute;
	top: 5px;
	left: 5px;
}
